/* common */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

.g-view-container {
  display: flex;
  padding: 15px;
  width: calc(100% - 30px) !important;
  height: calc(100% - 30px) !important;
}
.g-view-main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.g-content-card {
  display: flex !important;
  flex-wrap: wrap;
  flex: 1 1 auto !important;
  padding: 15px !important;
}


/* vuetify */
:deep(.v-data-table-footer) {
  justify-content: center;
}

.v-row {
  margin: 0 !important;
  flex: 0 0 auto !important;
}
.v-row > .v-col {
  padding-top: 0;
  padding-bottom: 0;
}
.v-row > .v-col:nth-child(1) {
  padding-left: 0;
}
.v-row > .v-col:nth-last-child(1) {
  padding-right: 0;
}